{% extends 'base.html' %}
{% load static %}

{% block contents %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <p><strong>E-Voting a secure electronic voting system that offers the fairness and privacy of current voting schemes, 
                while providing the transparency and flexibility offered by electronic systems has been a challenge for a long time. <br>
                In this work-in-progress paper, we evaluate an application of blockchain as a service to implement distributed electronic voting systems. <br>
                The paper proposes a novel electronic voting system based on blockchain that addresses some of the limitations in existing systems and evaluates some of the popular blockchain 
                frameworks for the purpose of constructing a blockchain-based e-voting system.<br> In particular, we evaluate the potential of distributed ledger technologies through 
                the description of a case study; namely, the process of an election, and the implementation of a blockchain-based application, which improves the security and decreases the cost of hosting a nationwide election.</strong></p>
        </div>
    </div>
</div>

{% endblock %}